//colors
$first_green: #91FF44;
$second_green: #54CC00;
$three_green: #3BB200;
$four_green: #339900;

$first_light: #F4F4F4;
$second_light: #E9E8EC;

$blue: #733EFF;

$dark: #1A1A1A;

$orange: #FFCD3C;

$red: #EE1B56;

$white: #fff;

$grey:#ccc;
$ligth_grey: #999999;
$dark_grey: #666666;

$grey_bg: #F2F2F2;
//end colors
//font-size
$size_40:  calc( (100vw - 360px)/(1920 - 360) * (40 - 30) + 30px);
$size_32: calc( (100vw - 360px)/(1920 - 360) * (32 - 18) + 18px);
$size_14: calc( (100vw - 360px)/(1920 - 360) * (14 - 14) + 14px);
$size_16: calc( (100vw - 360px)/(1920 - 360) * (16 - 12) + 12px);
$size_18:  calc( (100vw - 360px)/(1920 - 360) * (18 - 12) + 12px);
$size_20: calc( (100vw - 360px)/(1920 - 360) * (20 - 14) + 14px);
$size_24: calc( (100vw - 360px)/(1920 - 360) * (24 - 16) + 16px);
//end font-size
//fonts
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
$inter:'Inter',sans-serif;
//end fonts
@mixin green_btn{
  background: $three_green;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  color: $white;
  padding: 10px 16px 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 22px;
  transition: 0.3s all;
  width: max-content;
  &:hover{
    background: $second_green;
  }
}
@mixin priceBtn{
  background: $three_green;
  height: 52px;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  line-height: 20px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  &:hover{
    background: $second_green;
  }
}
@mixin multiplyImg{
  mix-blend-mode: multiply;
}
@mixin greenLine{
  position: relative;
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: $three_green;
    transition: 0.3s all;
    transform: translateX(-50%) scale(0) ;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
  }
  &:hover{
    &:after{
      transform:translateX(-50%) scale(1) ;
    }
  }
}

@mixin link_btn{
  text-decoration: none;
  display: block;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  line-height: 20px;
  color: $four_green;
}


@media(min-width: 1400px){
  .container{
    max-width: 1380px;

  }
}
//.row>*{
//  padding-left: calc(var(--bs-gutter-x) * 1.7);
//}

.close_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  cursor: pointer;

  svg{
    position: relative;
    z-index: 21;
    transition: 0.3s all;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 44px;
    height: 44px;
    background: transparent;
    z-index: 20;
    border-radius: 50%;
    transition: 0.3s all;
  }
  &:hover{
    svg{
      transform: rotate(180deg);
      path{
        stroke: #3BB200;
      }
    }
    &:before{
      background: #EDFAE6;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

@mixin sectionPt{
  padding-top: 60px;
  //padding-bottom: 60px;
  box-sizing: border-box;
}
@mixin animateLinks{
  -webkit-animation-duration: calc(1s * 0.75);
  animation-duration: calc(1s * 0.75);
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@mixin starsEl{
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: $size_14;
  line-height: 16px;
  color: #808080;
  display: flex;
  align-items: center;
  gap: 6px;
  &:before{
    content: '';
    display: block;
    background: url("../img/icons/stars.png") center no-repeat;
    width: 16px;
    height: 16px;
  }
}
.section{
  @include sectionPt;
}

.title_section{
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_24;
  line-height: 32px;
  color: $dark;
  position: relative;
  margin-bottom: 40px;
  &:after{
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background: $second_green;
    left: 0;
    top: calc(100% + 4px);
    position: absolute;
  }
}
.section_link{
  text-decoration: none;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  line-height: 20px;
  color: $four_green;
  position: relative;
  display: flex;
  align-items: center;

  &.animate__animated {
    margin-right: 20px;
    color: $four_green;
    &:after{
      transform: scale(1) !important;
    }
  }
  &:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 0.3s all;
    margin-right: -20px;
    background: url('../img/icons/arrow_green.png') center no-repeat;
  }

}

.arrows{
  display: flex;
  gap: 16px;
  align-items: center;
  .arrow_btn{
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background:url("../img/icons/arrow_slider.png") center no-repeat, #E6E6E6;
    &:hover{
      background:url("../img/icons/arrow_slider_light.png") center no-repeat, $second_green;
    }
  }
  .arrow_btn_next{
    transform: rotate(180deg);
    &:hover{
      background:url("../img/icons/arrow_slider_light.png") center no-repeat, $second_green;
      transform: rotate(0deg) !important;
    }
  }
  .arrow_btn_prev{
    &:hover{
      background:url("../img/icons/arrow_slider_light.png") center no-repeat, $second_green;
      transform: rotate(180deg) !important;
    }
  }
}
.top{
  overflow-x: hidden;
  overflow-y: hidden;
}
.active_serach{
  overflow-y: hidden;
}
//animation

/* Bouncing entrances  */
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.hover_icon{
  display: flex;
  align-items: center;
  gap: 6px;
  height: 28px;
  border-radius: 32px;
  padding: 0 8px 0 4px;
  box-sizing: border-box;
  background: transparent;
  transition: 0.3s all;
  width: 28px;
  overflow: hidden;
  .active{
    display: none;
  }
  span{
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: $white;
    font-size: 0;
    transition: 0.3s all;
    width: 0;
    height: 0;

  }
  &:hover{
    width: max-content;
    .active{
      display: block;
      mix-blend-mode: inherit !important;
    }
    .default{
      display: none;
    }
    span{
      font-size: $size_14;
      width: max-content;
      height: max-content;

    }
  }
}
.hit{
  &:hover{
    background: #F7B800;
  }
}
.sale{
  &:hover{
    background: #E8003A;
  }
}

.stocks{
  &:hover{
    background: #733EFF;
  }
}

.new{
  &:hover{
    background: #54CC00;
  }
}
