//colors
$first_green: #91FF44;
$second_green: #54CC00;
$three_green: #3BB200;
$four_green: #339900;
$first_light: #F4F4F4;
$second_light: #E9E8EC;
$blue: #733EFF;
$dark: #1A1A1A;
$orange: #FFCD3C;
$red: #EE1B56;
$white: #fff;
$grey:#ccc;
$ligth_grey: #999999;
$dark_grey: #666666;
$grey_bg: #F2F2F2;
//end colors
//font-size
$size_40:  calc( (100vw - 360px)/(1920 - 360) * (40 - 30) + 30px);
$size_32: calc( (100vw - 360px)/(1920 - 360) * (32 - 18) + 18px);
$size_14: calc( (100vw - 360px)/(1920 - 360) * (14 - 14) + 14px);
$size_16: calc( (100vw - 360px)/(1920 - 360) * (16 - 12) + 12px);
$size_18:  calc( (100vw - 360px)/(1920 - 360) * (18 - 12) + 12px);
$size_20: calc( (100vw - 360px)/(1920 - 360) * (20 - 14) + 14px);
$size_24: calc( (100vw - 360px)/(1920 - 360) * (24 - 16) + 16px);
//end font-size
//fonts


