//colors
$first_green: #91FF44;
$second_green: #54CC00;
$three_green: #3BB200;
$four_green: #339900;

$first_light: #F4F4F4;
$second_light: #E9E8EC;

$blue: #733EFF;

$dark: #1A1A1A;

$orange: #FFCD3C;

$red: #EE1B56;

$white: #fff;

$grey:#ccc;
$ligth_grey: #999999;
$dark_grey: #666666;

$grey_bg: #F2F2F2;
//end colors
//font-size
$size_14: calc( (100vw - 360px)/(1920 - 360) * (14 - 14) + 14px);
$size_16: calc( (100vw - 360px)/(1920 - 360) * (16 - 12) + 12px);
$size_18:  calc( (100vw - 360px)/(1920 - 360) * (18 - 12) + 12px);
$size_20: calc( (100vw - 360px)/(1920 - 360) * (20 - 14) + 14px);
//end font-size
//fonts
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
$inter:'Inter',sans-serif;
//end fonts
@mixin green_btn{
  background: $three_green;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  color: $white;
  padding: 10px 16px 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 22px;
  transition: 0.3s all;
  width: max-content;
  &:hover{
    background: $second_green;
  }
}

@mixin greenLine{

  position: relative;
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: $three_green;
    transition: 0.3s all;
    transform: translateX(-50%) scale(0) ;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
  }
  &:hover{
    &:after{
      transform:translateX(-50%) scale(1) ;
    }
  }
}

@mixin link_btn{
  text-decoration: none;
  display: block;
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $size_14;
  line-height: 20px;
  color: $four_green;
}


@media(min-width: 1400px){
  .container{
    max-width: 1380px;
  }
}
.row>*{
  padding-left: calc(var(--bs-gutter-x) * 1.7);
}

.close_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  cursor: pointer;
  svg{
    position: relative;
    z-index: 21;
    transition: 0.3s all;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 44px;
    height: 44px;
    background: transparent;
    z-index: 20;
    border-radius: 50%;
    transition: 0.3s all;
  }
  &:hover{
    svg{
      transform: rotate(180deg);
    }
    &:before{
      background: #EDFAE6;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
