@import "var";


//header
header{
  background: $grey_bg;
  padding-top: 16px;

  .header_bar{
    margin-bottom: 28px;
  }
  .header_phones{
    display: flex;
    align-items: center;
    padding-left: calc(var(--bs-gutter-x) * 1.6);
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 5px;
      margin-left: 16px;
      font-family: $inter;
      font-style: normal;
      font-weight: 400;
      font-size: $size_14;
      line-height: 20px;
      color: $dark_grey;
      &:hover{
        color: $dark;
      }
      &:after{
        content: '';
        display: block;
        width: 1px;
        height: 16px;
        background: $grey;
        margin-left: calc(16px - 5px);
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .menu_col{
    ul{
      padding: 0;
      margin: 0;
      display: flex;
      gap: 32px;
      justify-content: flex-end;
      li{
        list-style: none;
        a{
          text-decoration: none;
          font-family: $inter;
          font-style: normal;
          font-weight: 400;
          font-size: $size_14;
          line-height: 20px;
          color: $dark_grey;
          @include greenLine
        }
      }
    }
  }

  .header_info{
    margin-bottom: 28px;
    .col-6{
      transition: 0.3s all;
      padding: 0;
      padding-left: 2%;
    }
    .logo{
      position: relative;
      z-index: 25;
      a{
        svg{
          .green_mask{
            transition: 0.3s all;
          }
        }
        &:hover{
          svg{
            .green_mask{
              r: 120;
            }
          }
        }

      }
    }
    #search{
      width: 100%;
      position: relative;
      z-index: 25;
      display: flex;
      gap: 16px;
      .btn_search{
        @include green_btn;
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        left: calc(100% + 16px);
        z-index: 25;
        display: none;
        img{
          filter: invert(1);
        }
      }
      input{
        width: 100%;
        background: $white;
        border-radius: 40px;
        outline: none;
        border: none;
        padding: 10px 10px 10px 48px;
        box-sizing: border-box;
        font-family: $inter;
        font-style: normal;
        font-weight: 400;
        font-size: $size_16;
        color: $ligth_grey;
      }
      &:before{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background: url("../img/icons/Search_icon.png") center no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
    }
  }
  .trigger_icons{
    display: flex;
    //justify-content: flex-end;
    align-items: center;
    gap: 19px;
    padding-left: 6%;
    .items_count{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 42px;
      a{
        position: relative;
        z-index: 20;
        img{
          width: 24px;
          height: 24px;
          object-fit: cover;
          z-index: 20;
          position: relative;
        }
        .dark{
          display: block;
        }
        .green{
          display: none;
        }
        .count{
          z-index: 20;
          position: relative;
          position: absolute;
          display: flex;
          background: $three_green;
          width: 20px;
          height: 20px;
          font-family: $inter;
          font-style: normal;
          font-weight: 500;
          font-size: $size_14;
          color: $white;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
        }
        &:after{
          content: '';
          display: block;
          width: 44px;
          height: 44px;
          background: $white;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          z-index: 1;
          transition: 0.3s all;
        }
        &:hover{
          &:after{
            transform: translate(-50%, -50%) scale(1);
          }
          .dark{
            display: none;
          }
          .green{
            display: block;
          }
        }
      }
      &:after{
        content: '';
        display: block;
        width: 1px;
        height: 24px;
        background: $grey;
      }
    }
    .user{
      display: block;
      position: relative;
      z-index: 20;
      text-decoration: none;
      .dark{
        display: block;
      }
      .green{
        display: none;
      }
      &:after{
        content: '';
        display: block;
        width: 44px;
        height: 44px;
        background: $white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 1;
        transition: 0.3s all;
      }
      img{
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 20;
      }
      &:hover{
        &:after{
          transform: translate(-50%, -50%) scale(1);
        }
        .dark{
          display: none;
        }
        .green{
          display: block;
        }
      }
    }

  }
  .menu_wrapper{
    background: $dark;
    padding: 10px 0;
    box-sizing: border-box;
    .catalog_btns{
      gap: 20px;
      //padding-left: 0;
      #catalog_btn{
        display: flex;
        gap: 20px;
        &:after{
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background: #4D4D4D;
        }
      }
    }
    a{
      text-decoration: none;
      font-family: $inter;
      font-style: normal;
      font-weight: 500;
      font-size: $size_16;
      color: #B3B3B3;
      transition: 0.3s all;
      display: flex;
      align-items: center;
      gap: 6px;
      &:hover{
        color: #F2F2F2;
      }
    }
    .default_menu_theme{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .action_menu{
      ul{

        li{
          list-style: none;
          a{
            img{
              width: 20px;
              height: 20px;
            }
            .active{
              display: none;
            }
            &:hover{
              .default{
                display: none;
              }
              .active{
                display: block;
              }
            }
          }
        }
      }
    }
    .info_menu{
      justify-content: flex-end;
      display: flex;
      ul{
        li{
          list-style: none;
          a{
            &:hover{
              color: $first_green;
            }
          }
        }
      }
    }
  }
}

#catalog_btn{
  position: relative;
  display: flex;
  align-items: center;

  .icon{
    position: relative;
    svg{
      transition: 0.3s all;
      .active_line{
        transition: 0.3s all;
        transform: translateX(-50%);
      }
    }
  }
  &:hover{
    .icon{
     svg{
       path{
         fill: $three_green;
       }
       .active_line{
         transform: translateX(0%);

       }
     }
    }
  }
}
//

.left_menu_catalog{
  position: absolute;
  top: 0;
  z-index: 201;
  background: #fff;
  height: 100vh;
  left: -200%;
  transition: 0.3s all;
  .row>*{
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
  &_active{
    left: 0;
  }
  .close_btn{
    position: relative;
  }
  .row{
    padding: 64px 0 0 64px;
    position: relative;
    .left_menu_catalog_list{
      margin-top: 76px;
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 40px;
        li{

          .sub_menu_list{
            display: none;
            opacity: 0;
            transition: 0.2s all;
            overflow-y: scroll;
            position: absolute;
            right: calc(0%);
            top: 0;
            left: calc(100% - 15px);
            width: 400px;
            background: #F2F2F2;
            margin: 0;
            padding:110px 20px 20px 64px;
            box-sizing: border-box;
            height: 100vh;
            gap: 40px;
            .item_list{
              .accardion_trigger{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                margin-bottom: 20px;
                &.active{
                  &:after{
                    transform: rotate(0deg);
                  }
                }
                h3{
                  font-family: $inter;
                  font-style: normal;
                  font-weight: 400;
                  font-size: $size_16;
                  color: $dark;
                  position: relative;
                  &:after{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: $three_green;
                    transition: 0.3s all;
                    transform: translateX(0%) scale(0) ;
                    position: absolute;
                    top: calc(100% + 5px);
                    left: 0%;
                  }
                }
                &:after{
                  content: '';
                  width: 32px;
                  height: 32px;
                  display: block;
                  transform: rotate(180deg);
                  border-radius: 50%;
                  transition: 0.3s all;
                  background: url("../img/icons/Down_button.png") center no-repeat;
                }
                &:hover{
                  h3{
                    &:after{
                      transform: translateX(0%) scale(1) ;
                    }
                  }
                  &:after{
                    background: url("../img/icons/Up_hover.png") center no-repeat;
                  }
                }
              }
              .popup_list{
                display: none;
                &_show{
                  display: block;
                }
              }
              ul{
                padding: 0;
                margin: 0;
                gap: 16px;
                padding-left: 16px;
                li{
                  a{
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size:$size_14;
                    color: #666666;
                    transition: 0.3s all;
                    &:hover{
                      color: $three_green;
                    }
                  }
                }
              }
            }
          }

          a{
            display: flex;
            align-items: center;
            gap: 24px;
            text-decoration: none;
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: $size_18;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: $ligth_grey;
            transition: 0.3s all;
            white-space: nowrap;
            position: relative;

            .active{
              display: none;
            }
            img{
              width: 44px;
              height: 44px;
            }
            &:hover{
              color: #1A1A1A;
              gap: 40px;
              .default{
                display: none;
              }
              .active{
                display: block;
              }
            }
          }
          &:hover{
            .sub_menu_list{
              opacity: 1;
              display: flex;
            }
          }
        }
      }
    }
  }
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 200;
  display: none;
}

//

.banners_slider{
  .item{
    overflow: hidden;
    position: relative;
    height: 520px;
    .container{
      position: relative;
      z-index: 15;
      height: 520px;
      .row{
        height: 520px;
        align-items: center;
        .banners_slider_text{
          margin: 0 19%;
          padding: 32px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: flex-start;
          position: relative;
          background: #91FF44;
          background-blend-mode: multiply;
          backdrop-filter: blur(16px);
          h2{
            font-family: $inter;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: -0.04em;
            color: $dark;
          }
          .descr{
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #1A1A1A;
            opacity: 0.75;
          }
          .btn_slider{
            font-family: $inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
            width: 188px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background: #1A1A1A;
            border-radius: 2px;
            transition: 0.3s all;
            &:hover{
              background: #733EFF;
            }
          }
          .banner_text_img{
            width: 294px;
            height: 642px;
            object-fit: contain;
            position: absolute;
            right: 0;
            top: -149px;
            left: 85%;

          }
        }
      }

    }
    img{
      width: 100%;
      object-fit: cover;
      height: 520px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
  .owl-dots{
    position: absolute;
    top: calc(100% - 55px);
    left: 50%;
    .owl-dot{
      span{
        background: #666666 !important;
        width: 10px !important;
        height: 10px !important;
      }
      &.active{
        span{
          background: #54CC00 !important;
          width: 30px !important;
          height: 10px !important;
        }
      }
    }
  }
}


.serach_result{
  background: rgba(242, 242, 242, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  display: none;
  overflow: hidden;
  height: 100vh;
  .container{
    position: relative;
  }
  .close_btn{
    position: absolute;
    right: 0;
    left: 100%;
    top: calc(0vh + (24px + 44px) );
    transform: translateY(50%);
  }
  &_active{
    display: block;
  }

  .result_list{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top:calc(0vh + (185px) + 60px);
    margin: 0 auto;
    gap: 24px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar { /* webkit */
      width: 0;
      height: 0;
    }
    .item{
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $grey;
      .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
          font-family: $inter;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.1em;
          color: $ligth_grey;
        }
        .section_link{
            @include link_btn;
          position: relative;
          display: flex;
          align-items: center;

          &:after{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            transform: scale(0);
            transition: 0.3s all;
            margin-right: -20px;
            background: url("../img/icons/arrow_green.png") center no-repeat;
          }
          &.animate_after{
            &:after{
              transform: scale(1);
            }
          }
        }
      }

      ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        li{
          list-style: none;
          a{
            text-decoration: none;
            font-family: $inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $dark_grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .count{
              font-family: $inter;
              font-style: normal;
              font-weight: 350;
              font-size:$size_16;
              line-height: 24px;
              color: $dark_grey;
            }
          }
        }
      }
      .items_list{
        padding: 0;
        margin: 0;
        li{
          a{
            display: flex;
            gap: 24px;
            justify-content: flex-start;
            align-items: center;
            img{
              width: 72px;
              height: 72px;
              object-fit: cover;
              @include multiplyImg;
            }
            .descr{
              display: flex;
              flex-direction: column;
              //gap: 4px;
              justify-content: flex-start;
              h4{
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: $size_14;
                line-height: 20px;
                color: #808080;
              }
              .txt{
                font-family: $inter;
                font-style: normal;
                font-weight: 350;
                font-size: $size_16;
                line-height: 24px;
                color: $dark_grey;
              }
            }
            .info{
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
              gap: 8px;
              .price{
                font-family: $inter;
                font-style: normal;
                font-weight: 600;
                font-size: $size_20;
                line-height: 24px;
                color: $dark;
              }
              .stars{
                font-family: $inter;
                font-style: normal;
                font-weight: 400;
                font-size: $size_14;
                line-height: 16px;
                color: #808080;
                display: flex;
                align-items: center;
                gap: 6px;
                &:before{
                  content: '';
                  display: block;
                  background: url("../img/icons/stars.png") center no-repeat;
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.active_serach{
  header{
    .header_info{
      .col-6{
        flex: 0 0 auto;
        width: 41.66666667%;
        #search{
          .btn_search{
            display: flex;
          }
        }
      }

    }
  }
}



//special

.special{
      .special_item_list{
        gap: 16px;
        justify-content: space-between;
      }
     .special_item{
       display: flex;
       align-items: center;
       gap:20px;
       padding: 20px;
       box-sizing: border-box;
       background: $grey_bg;
       transition: 0.3s all;
       position: relative;
       width: calc(25% - 16px);
       &.active{
         a{
          @include animateLinks;
           &:after{
             transform: scale(1);
           }
         }
       }
        img{
          width: 120px;
          height: 120px;
          object-fit: cover;
          @include multiplyImg;
        }
       .txt{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         font-family: $inter;
         font-style: normal;
         font-size: $size_16;
         text-transform: uppercase;
         color: $dark;
         font-weight: 300;
       }
       h4{
         font-family: $inter;
         font-style: normal;
         font-size: $size_16;
         text-transform: uppercase;
         color: $dark;
         font-weight: 300;
         line-height: 24px;
       }
       b{
         font-family: $inter;
         font-style: normal;
         font-weight: 600;
         font-size: $size_16;
         text-transform: uppercase;
         color: $dark;
       }

       a{
         text-decoration: none;
         font-family: $inter;
         font-style: normal;
         font-weight: 500;
         font-size: $size_14;
         color: $dark_grey;
         margin-top: 28px;
         display: flex;
         align-items: center;
         gap: 20px;
         width: max-content;
         text-transform: capitalize;
         &:after{
           content: '';
           display: block;
           width: 20px;
           height: 20px;
           background: url("../img/icons/arrow_green.png") center no-repeat;
           transform: scale(0);
           transition: 0.3s all;
         }
       }
       &:before{
         content: '';
         background: rgba(255, 255, 255, 0.3);
         position: absolute;
         top: 100%;
          z-index: -1;
         left: 0;
         right: 0;
         bottom: 0;
         transition: 0.3s all;
       }
       &:hover{
         a{
           z-index: 22;
           color: $four_green;
         }
         &:before{
           top: 0%;
           z-index: 20;
         }
       }
     }
}
//popular

.popular{
  padding-bottom: 60px;
  .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }
  .popular_items_list{
    gap: 32px;
    .item{
      display: flex;
      align-items: center;
      gap: 32px;
      border-bottom: 1px solid #E6E6E6;
      width: calc(33.33% - 32px);
      &:nth-last-child(-n + 3){
        border-bottom: none;
      }
      img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        @include multiplyImg;
      }
      a{
        font-family: $inter;
        font-style: normal;
        font-weight: 400;
        font-size: $size_18;
        color: $dark;
        text-decoration: none;
        transition: 0.3s all;
        @include greenLine;
        &:after{
          left: 0;
          transform: translateX(0%) scale(0);
        }
        &:hover{
          color: $four_green;
          &:after{
            left: 0;
            transform: translateX(0%) scale(1);
          }
        }
      }
    }
  }
}
//adv

.adv{
  padding-bottom: 60px;
  .adv_list{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    .item{
      width: calc(25% - 16px);
      display: flex;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;
      &:hover{
        h5{
          color: $dark;
          &:after{
            transform: scale(1);
          }
        }
        span{
          color: #808080;
        }
        .icon{
          background: #FFFFFF;
          box-shadow: 0px 12px 24px -8px rgba(64, 115, 38, 0.25);
          .default{
            display: none;
          }
          .active{
            display: block;
          }
        }
      }
      h5{
        font-family: $inter;
        font-style: normal;
        font-weight: 400;
        font-size: $size_16;
        color: $dark_grey;
        line-height: 24px;
        &:after{
          content: '';
          display: block;
          width: 20px;
          height: 1px;
          background: $dark;
          transform: scale(0);
          transition: 0.3s all;
        }
      }
      span{
        font-family: $inter;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        color: #808080;
        line-height: 20px;
      }
      .icon{
        width: 60px;
        min-width: 60px;
        height: 60px;
        background: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.3s all;
        img{
          object-fit: contain;
          width: 40px;
          height: 40px;
        }
        .active{
          display: none;
        }
      }
    }
  }
}
